<%- model_class = ChildrenEvent -%>
<div class="page-header">
  <h1>Eventos Infantis</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= "id" %></th>
      <th><%= "Título" %></th>
      <th><%= "Avaliação" %></th>
      <th><%= "Data e Hora" %></th>
      <th><%= "Criado em" %></th>
      <th><%= "Ações" %></th>
    </tr>
  </thead>
  <tbody>
    <% @children_events.each do |children_event| %>
      <tr>
        <td><%= link_to children_event.id, children_event_path(children_event) %></td>
        <td><%= children_event.title %></td>
        <td><%= children_event.rating %></td>
        <td><%= children_event.date_time %></td>
        <td><%=l children_event.created_at %></td>
        <td>
          <%= link_to "Editar",
                      edit_children_event_path(children_event), :class => 'btn btn-default btn-xs' %>
          <%= link_to "Deletar",
                      children_event_path(children_event),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Novo Evento",
            new_children_event_path,
            :class => 'btn btn-primary' %>
<br />
<br />
