<div class="navbar navbar-default navbar-static-top" id="amenu">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(kids_path, class: "navbar-brand") do %>
        <img src="/images/baby29.png" style="float: left;"> &nbsp; Kids </img>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class= <%= "active" if params[:controller] == "children_events" %> >
          <%= link_to("/children_events/events.html") do %>
            <img src="/images/bears1.png" style="float: left;"> &nbsp; Eventos </img>
          <% end %>
        </li>
        <li>
          <%= link_to("places.html") do %>
            <img src="/images/train16.png" style="float: left;"> &nbsp; Locais </img>
          <% end %>
        </li>
        <li>
          <%= link_to("brinquedotecas.html") do %>
            <img src="/images/toy59.png" style="float: left;"> &nbsp; Brinquedotecas </img>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

